.common-table {
  width: 100%;
  margin: 70px auto;
  text-align: center;
}

.common-table-header-column {
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  font-size: 20px;
  padding: 10px 5px;
  font-weight: bold;
  height: 50px;
}
.first-header {

}


.common-table-row:hover {
  background-color: #eceaea;
  cursor: pointer;
}

.common-table-column {
  padding: 10px 5px;
}
.common-table-row {
/*   display: flex; */
border-bottom: 1px solid #e8e8e8;
height: 50px;
}