.GridContainer {
  margin: 150px auto 79px;
  padding: 0 25px;
  width: 1400px;
  display: grid;
  grid-gap: 32px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.GridItem {
  background-color: white;
  height: 285px;
  border: 1px solid lightgray;
  border-radius: 20px;
}
.GridItem:hover {
  border: 2px solid rgba(35, 115, 225);
}