.swiper {
  --swiper-theme-color: rgb(255, 0, 0);
}
.swiper-slide {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 500px;
  height: 300px;
}